
html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.screen {
  width: 100vw;
  height: 100vh;
}

.screen .dice {
  width: 100vw;
  height: 90vh;
  background-color: #a9dce3;
  color: #7698de;
}

.screen .dice .die {
  height: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  font-size: 50vh;
}

.screen .options {
  width: 100vw;
  height: 100vh;
  background-color: black;
}